# Tell Ansible to use the inventory file that Terraform creates.
# This means I do not have to type -i inventory.ini every time I run an Ansible command.
[defaults]
inventory = inventory.ini

# Tell Ansible where the Vault password file is stored.
# This lets Ansible automatically use the password when encrypting or reading Vault-protected files.
vault_password_file = .vault_pass


# Turn off SSH host key checking.
# The EC2 instances are new each time Terraform creates them, so Ansible should connect without stopping for the usual
# "Are you sure you want to continue connecting?" prompt.
host_key_checking = False

# Do not create retry files when a playbook fails.
# This keeps the Ansible folder cleaner while testing.
retry_files_enabled = False
